.app {
  width: 20rem;
  display: grid;
  grid-template-rows: 2fr repeat(4, 1fr);
  gap: 1px;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Buttons */
input[type="button"] {
  border: none;
  border-radius: 3px;
  width: 3.5rem;
  height: 2.8rem;
}

input.number {
  background-color: #b1d4e0;
}

input.operator {
  background-color: #2e8bc0;
}
